{% extends 'base.html.twig' %}
{% block body %}
	<h1>category</h1>

	<a href="{{path('add_category') }}" class="btn btn-primary">Ajouter</a>
	<table class="table">
		<thead>
			<tr>
				<th scope="col"></th>
				<th scope="col">Label</th>
				<th scope="col">Color</th>
				<th scope="col">Voir</th>
				<th scope="col">Supprimer</th>
				<th scope="col">Modifier</th>

			</tr>
		</thead>
		<tbody>

			{% for cat in categories %}
				<tr>
					<th scope="row">{{cat.id}}</th>
					<td>{{cat.label}}</td>
					<td>{{cat.color}}</td>
					<td>
						<a href="{{path('show_category', {id : cat.id}) }}" class="btn btn-primary">Voir</a>
					</td>

					<td>

						<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal{{cat.id}}">
							Sup
						</button>


					</td>


					<td>
						<a href="{{path('edit_category', {id : cat.id}) }}" class="btn btn-primary">Modif</a>
					</td>

					<td></td>

				</tr>
				<div class="modal fade" id="exampleModal{{cat.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-header">
								<h5 class="modal-title" id="exampleModalLabel">Confirmez la suppression</h5>
								<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
							</div>
							<div class="modal-body"></div>
							<div class="modal-footer">
								<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
								{# <button type="button" class="btn btn-primary">Supprimer</button> #}

								<a href="{{path('remove_category', {id : cat.id}) }}" class="btn btn-primary">Supprimer</a>
							</div>
						</div>
					</div>
				</div>
				
				{# <tr>
																						<th scope="row">2</th>
																						<td>Gâteaux</td>
																						<td>Rouge</td>
																						<td></td>
																					</tr>
																					<tr>
																						<th scope="row">3</th>
																						<td colspan="2">Tartes</td>
																						<td>Vert</td>
																					</tr>
																				</tbody> #}
			{% endfor %}
		</tbody>
	</table>
{% endblock %}
